form textarea {
    resize: vertical;
    min-height: 100px;
}

form [class^='col-'] {
    position: relative;
}

form label.error {
    position: absolute;
    z-index: 1;
    top: -10px;
    right: 15px;
    background-color: tomato;
    color: #FFF;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 10px;
    text-transform: uppercase;
}

form input.valid {
    border-color: #57E1B3 !important;
}


form input.error {
    border-color: tomato !important;
}

.fd_key {
    visibility: hidden;
    height: 0;
    width: 0;
}

.text-white {
    color: #FFF;
}

.text-white:focus {
    color: #FFF;
}

.text-white[type="text"], .text-white[type="email"], .text-white textarea {
    color: #FFF;
}