<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="navbar_home_link"><a href="index.php"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
       <div class="navbar_page_center">BPO Services</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
      
      <p style="text-align: justify">O BPO Services é unidade de negócios da Way Back, especializada em Terceirização de Processos de Negócios. São projetos customizados e personalizados de acordo com a necessidade e cultura organizacional de cada parceiro. 
<br><br>
Auxiliamos as empresas na melhoria de processos e resultados em distintas áreas e serviços de apoio de seus negócios, com soluções inteligentes dotadas e certificadas das melhores práticas e que garantem substanciais ganhos em Rentabilidade, Produtividade e Competividade. 
<br><br>
Soluções de outsourcing de Levantamento de Bens Patrimoniais, Controle de Fornecedores, Gestão Preventiva de Ativos, Logística, Contas a Receber e outros projetos especiais sobre demanda. </p>
      
      
      <br>
      <h2 class="page_subtitle">Soluções em BPO</h2>
      
      
      <div class="page_single">

                        <div class="custom-accordion">
                        
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Levantamento de Bens</span>
                            </div>
                            <div class="accordion-item-content">
                                             <p style="text-align: justify">
                                            <img src="images/i6.png" alt="" title="" />
              Fornecemos informações atualizadas e rastreadas de recursos e ativos que envolvem bens imóveis e ações ajuizadas de clientes e parceiros de alto impacto para o seu negócio, transformando-se em um indicador importante na rotina de concessões de créditos seguro e em diversas frentes de negociações. 
              </p>
                            </div>
                          </div>
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Controle de Fornecedores</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p style="text-align: justify">
                                           <img src="images/i7.png" alt="" title="" />
              Solução para empresas que atuam com grande volume de prestadores de serviços e fornecedores que necessitam de acompanhamento ativo de controle documental e de informações administrativas para prevenção de riscos corporativos relacionados a descumprimentos de obrigações legais entre parceiros de negócios, desde a contratação até o vencimento, bem como de todos os recursos utilizados pelas contratadas (subcontratados, pessoas, veículos e ativos). 
              </p>
                            </div>
                          </div>
                          
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Gestão Preventiva de Ativos</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p style="text-align: justify">
                                           <img src="images/i8.png" alt="" title="" />
              Acionamento de clientes ativos de 10 a 15 dias antes do vencimento para auxiliar as empresas parceiras no trabalho de fidelização, redução e minimização de índices de atrasos, inadimplência e consequente perda financeira. 
              </p>
                            </div>
                          </div>
                          
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Logística</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p style="text-align: justify">
                                           <img src="images/i9.png" alt="" title="" />
              Solução que auxilia empresas na redução de perdas na cadeia produtiva com a reintegração ágil de bens e ativos, que mitiga desvios e possíveis falhas na adoção de um rígido controle e acompanhamento de cada etapa do processo: identificação e avaliação, agendamentos, retiradas e entrega ao destinatário. 
              </p>
                            </div>
                          </div>
                          
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Contas a Receber</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p style="text-align: justify">
                                           <img src="images/i10.png" alt="" title="" />
              Otimização das atividades de apoio do Contas a Receber: conciliação de contas, faturamento, acerto de pendências e resíduos, contato com áreas envolvidas e cliente externo, que proporciona a maximização dos processos com a qualidade e segurança que sua empresa busca e necessita.
<br><br>
Todo o ferramental disponível para as atividades de gestão de recebíveis são aplicados nos serviços de BM, desta forma, a sinergia e complementariedade se transformam em melhorias imediatas de resultados. 
              </p></div>
                          </div>
              
              
              <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Recuperação Consultiva</span>
                            </div>
                            <div class="accordion-item-content">
                                           <p style="text-align: justify">
                                           <img src="images/i11.png" alt="" title="" />
              Acionamento dos clientes imediatamente após o vencimento até 30 dias posteriores, que visa auxiliar as empresas na mitigação de seus índices de inadimplência e consequente perda financeira. Com uma abordagem consultiva que preza acima de tudo pelo bom relacionamento, esta solução apresenta as informações devolutivas devidamente tabuladas para que o contratante tenha em mãos subsídios valiosos para ajustes em todos os processos de concessão de créditos e refinamento de KPI´s. 
              </p>
              </div>
                          </div>
            
                         
                          <div class="accordion-item">
                            <div class="accordion-item-toggle">
                              <i class="icon icon-plus">+</i>
                              <i class="icon icon-minus">-</i>
                              <span>Projetos Especiais</span>
                            </div>
                            <div class="accordion-item-content">
                                            
                                           <img src="images/i12.jpg" alt="" title="" />
              
                            </div>
                          </div>   
                          

                        </div>  


              </div> <!--end of page single-->
      
      
      
     <br>
     
      <h2 class="page_subtitle">Entre em contato com a nossa Equipe Comercial</h2>

      <p style="text-align: justify">Solicite através do Formulário de Email abaixo, nossa Apresentação Comercial.</p>

            <h2 id="Note"></h2>
            <div class="contactform">
             <form class="contact-form clearfix" action="" name="form" method="GET">
              <input name="enviar_bpo" type="hidden" value="1">
            <label>Nome:</label>
            <input type="text" name="name" id="ContactName" value="" class="form_input required" />
            <label>Email:</label>
            <input type="text" name="email" id="ContactEmail" value="" class="form_input required email" />
            <label>Telefone:</label>
            <input type="text" name="tel" id="ContactEmail" value="" class="form_input required email" />
            <label>Empresa:</label>
            <input type="text" name="empresa" id="ContactEmail" value="" class="form_input required email" />
            <label>Site:</label>
            <input type="text" name="url" id="ContactEmail" value="" class="form_input required email" />
            <label>Assunto:</label>
            <input type="text" name="assunto" id="ContactEmail" value="" class="form_input required email" />
            <label>Mensagem:</label>
            <textarea name="message" id="ContactComment" class="form_textarea textarea required" rows="" cols=""></textarea>
            <input type="submit" class="form_submit" id="submit" value="Enviar Mensagem" onclick="JSalert()">
            
            <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..." id="LoadingGraphic" /></label>
            </form>
            </div>
            
      
      <br>
      <blockquote>
      Endereço: Av.Paes de Barros, 1162 - Mooca - São Paulo/SP <br />
      Email: comercial@wayback.com.br <br />
      Telefone: +55 11 2148 9100
      </blockquote> 
      
        
      
      <div class="clear"></div>
      </div>
      
      
    </div>
  </div>
</div>