
    <script src="dist/sweetalert-dev.js"></script>
<link rel="stylesheet" href="dist/sweetalert.css">
    <div class="pages">
    
        <div data-page="projects" class="page no-toolbar no-navbar">
            <div class="page-content">

                <div class="navbarpages">
                    <div class="navbar_home_link"><a href="index.php"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
                    <div class="navbar_page_center">Debt Collection</div>
                    <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
                </div>
                <div id="pages_maincontent">


                    <p style="text-align: justify">
                        Temos como compromisso atender de forma completa e superar as expectativas de nossos clientes com soluções para cada necessidade dentro de todo o ciclo de cobrança, certos em oferecer as melhores práticas do mercado, o que garante longas e sólidas parcerias de sucesso.
                        <br><br>
                        São serviços e profissionais especializados em Recuperação de Créditos B2B, B2C, Ticket Alto, Judicial e Internacional.
                        <br><br>
                        Disponibilizamos diversos canais de comunicação e atendimento: Chat Online, Telefone, E-mail, SMS e Correspondência para proporcionar ao inadimplente um atendimento ágil e seguro. Todas as negociações são realizadas em consonância com o Código de Defesa do Consumidor Brasileiro e nossa equipe é constantemente treinada e monitorada para um atendimento de qualidade.
                    </p>


                    <br>
                    <h2 class="page_subtitle">Recuperação de Créditos</h2>


                    <div class="page_single">

                        <div class="custom-accordion">

                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    <i class="icon icon-plus">+</i>
                                    <i class="icon icon-minus">-</i>
                                    <span>B2B</span>
                                </div>
                                <div class="accordion-item-content">
                                    <p style="text-align: justify">
                                        <img src="images/i1.png" alt="" title="" />
                                        Com base nos princípios da “preservação da relação comercial entre credor e cliente inadimplente” e “conhecimento das atividades core do contratante”, a Way Back atua como uma extensão do “Contas à Receber” de seus clientes, proporcionando comodidade, segurança, transparência e performance efetivamente superior em comparação a uma gestão de cobrança não-terceirizada.
                                    </p>
                                </div>
                            </div>

                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    <i class="icon icon-plus">+</i>
                                    <i class="icon icon-minus">-</i>
                                    <span>B2C</span>
                                </div>
                                <div class="accordion-item-content">
                                    <p style="text-align: justify">
                                        <img src="images/i2.png" alt="" title="" />
                                        Com 25 anos de mercado a Way Back proporciona uma gestão efetiva da inadimplência nas diferentes etapas da dívida, e sobretudo nos diversos tipos de carteiras, produtos e clientes.
                                        <br><br>
                                        Utilizando nossa experiência, desenvolvemos estratégias específicas para cada tipo de cliente, humanizando o contato por meio de múltiplos canais, de forma ativa ou receptiva, a partir de ferramentas automatizadas.
                                    </p>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    <i class="icon icon-plus">+</i>
                                    <i class="icon icon-minus">-</i>
                                    <span>Ticket Alto</span>
                                </div>
                                <div class="accordion-item-content">
                                    <p style="text-align: justify">
                                        <img src="images/i3.png" alt="" title="" />
                                        Acompanhando a evolução de mercado e cientes da necessidade do tratamento diferenciado na operacionalização da Cobrança de Títulos de valores expressivos, a Way Back conta com uma célula exclusiva especializada nessa atividade.
                                        <br><br>
                                        Com negociadores especialmente treinados atuando nessa área, aliados a toda tecnologia de suas operações, a CERTA oferece soluções efetivas e diferenciadas na Recuperação de Ticket Alto.
                                    </p>
                                </div>
                            </div>


                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    <i class="icon icon-plus">+</i>
                                    <i class="icon icon-minus">-</i>
                                    <span>Judicial</span>
                                </div>
                                <div class="accordion-item-content">
                                    <p style="text-align: justify">
                                        <img src="images/i4.png" alt="" title="" />
                                        Departamento Jurídico da Way Back, com sua ampla experiência no segmento de crédito e cobrança, atua não somente na esfera da recuperação de ativos, mas em todas aquelas coligadas ao direito empresarial: Área Contratual, Responsabilidade Civil, Direito do Consumidor e Garantias.
                                    </p>
                                </div>
                            </div>



                            <div class="accordion-item">
                                <div class="accordion-item-toggle">
                                    <i class="icon icon-plus">+</i>
                                    <i class="icon icon-minus">-</i>
                                    <span>Internacional</span>
                                </div>
                                <div class="accordion-item-content">
                                    <p style="text-align: justify">
                                        <img src="images/i5.png" alt="" title="" />
                                        Como acionistas da TCM Group, maior conglomerado de Crédito & Cobrança do mundo, estamos presentes nos 05 continentes e em mais de 145 países na Recuperação de Crédito.
                                        <br><br>
                                        Atuamos tanto na fase amigável e judicial e possibilitamos com profissionais especializados e éticos, a quebra de uma série de barreiras legais, geográficas e culturais que garantirão maior agilidade e resultados na recuperação de seus recebíveis.
                                        <br><br>
                                        As cobranças são feitas na localidade e no país de origem do inadimplente o que nos permite atuar efetivamente na redução da quantidade de eventuais perdas, na melhoria do relacionamento, crédito e fluxo de caixa. E o melhor, "NO WIN NO FEE".
                                    </p>
                                </div>
                            </div>


                        </div>


                    </div> <!--end of page single-->



                    <br>

                    <h2 class="page_subtitle">Entre em contato com a nossa Equipe Comercial</h2>

                    <p style="text-align: justify">Solicite através do Formulário de Email abaixo, nossa Apresentação Comercial.</p>

                    <h2 id="Note"></h2>
                    <div class="contactform">
                        <form class="contact-form clearfix" action="" name="form" method="Get">
                            <input name="enviar_collections" type="hidden" value="1">
                            <label>Nome:</label>
                            <input type="text" name="name" id="ContactName" value="" class="form_input required" />
                            <label>Email:</label>
                            <input type="text" name="email" id="ContactEmail" value="" class="form_input required email" />
                            <label>Telefone:</label>
                            <input type="text" name="tel" id="ContactEmail" value="" class="form_input required email" />
                            <label>Empresa:</label>
                            <input type="text" name="empresa" id="ContactEmail" value="" class="form_input required email" />
                            <label>Site:</label>
                            <input type="text" name="url" id="ContactEmail" value="" class="form_input required email" />
                            <label>Assunto:</label>
                            <input type="text" name="assunto" id="ContactEmail" value="" class="form_input required email" />
                            <label>Mensagem:</label>
                            <textarea name="message" id="ContactComment" class="form_textarea textarea required" rows="" cols=""></textarea>
                            <input type="submit" class="form_submit" id="submit" value="Enviar Mensagem" onclick="JSalert()">
                         
                            <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..." id="LoadingGraphic" /></label>
                        </form>
                    </div>


                    <br>
                    <blockquote>
                        Endereço: Av.Paes de Barros, 1162 - Mooca - São Paulo/SP <br />
                        Email: comercial@wayback.com.br <br />
                        Telefone: +55 11 2148 9100
                    </blockquote>



                    <div class="clear"></div>
                </div>


            </div>
        </div>
    </div>
