<!-- Init code pzw.io  //--><script>var $_PowerZAP = { lang: "pt-br", defaultCountry: '+55', widget_id: '281', company: "3455" }; (function(i,s,o,g,r,a,m){ i[r]={context:{id:'27973926e50b6fa40888397c2104f1f3'}};a=o;o=s.createElement(o); o.async=1;o.src=g;m=s.getElementsByTagName(a)[0];m.parentNode.insertBefore(o,m); })(window,document,'script','https://widget-omni.powerzap.com.br/js/widget.js?v=5.0.0.976','pwz');</script><!-- End code pzw.io  //-->


<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="navbar_home_link"><a href="index.php"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
       <div class="navbar_page_center">Negociar Débito</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
       <h2 class="page_subtitle">Negociar Débito Online</h2>
       
       
      <p style="text-align: justify">Negocie seu Débito Online através dos nossos Multicanais: Chat Online, Messenger e WhatsApp 
</p>
      
      
      
      
      <blockquote>
              Negocie sua dívida e limpe seu nome sem sair de casa
              </blockquote>
      
      
      
      <blockquote>
              Melhores condições e parcelas que cabem no seu bolso
              </blockquote>
      
      
      
      
      
      <blockquote>
              Simples, prático, rápido e 100% seguro
              </blockquote>
      
      
      
      <br>
      
      
     
      <p style="text-align: justify">Os horários de funcionamento da empresa são: Segunda à quinta-feira das 08:00hs às 18:00hs | Sexta-feira das 08:00hs às 17:00hs</p>

           
            
      
     
      
        
      
      <div class="clear"></div>
      </div>
      
      
    </div>
  </div>
</div>