<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="navbar_home_link"><a href="index.php"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
       <div class="navbar_page_center">Quem Somos</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
      
      
       <p style="text-align: justify">Uma empresa 100% brasileira, atuante desde 1991 como parceira de seus clientes nas melhores soluções de Customer Relationship Management (CRM) em ações B2B, B2C e BPO.</p>
      
      
      <div class="page_single">
          
              <div class="buttons-row">
                    <a href="#tab3" class="tab-link active button">Missão</a>
                    <a href="#tab4" class="tab-link button">Visão</a>
                    <a href="#tab5" class="tab-link button">Valores</a>
              </div>
              
              <div class="tabs-simple">
                    <div class="tabs">
                          <div id="tab3" class="tab active">
                                <h4>Nossa Missão</h4>
                                 <p style="text-align: justify">
                                Conquistar resultados positivos com trabalho de qualidade, que atenda com excelência as demandas de nossos clientes e gere empregos, oportunidades e crescimento sustentável.
                                </p>
                          </div>
    
                          <div id="tab4" class="tab">
                                <h4>Nossa Visão</h4>
                                 <p style="text-align: justify">
                                Ser referência no segmento de atuação, reconhecida como uma empresa de soluções inovadoras, com profissionais treinados, qualificados e clientes satisfeitos.
                                </p>
                          </div> 
                          
                          <div id="tab5" class="tab">
                                <h4>Nossos Valores</h4>
                                 <p style="text-align: justify">
                               Trabalhar dentro dos princípios éticos e morais, como:<br><br>
                               Responsabilidade, transparência, confiabilidade, credibilidade, qualidade, educação, espírito de servir, responsabilidade social e ambiental.
                                </p>
                          </div>
                    </div>
              </div>
          
          </div> 
      
      
      
      
          <h2 class="page_subtitle">Filiações</h2>
          
              <div class="page_single">
              <img src="images/filiacoes.jpg" alt="" title="" />
              </div>
      
      
       <h2 class="page_subtitle">Certificação de Excelência e Qualidade</h2>
          
              <div class="page_single">
              <img src="images/certificacao.jpg" alt="" title="" />
              </div>
      
       <h2 class="page_subtitle">Estrutura</h2>
          
              <div class="page_single">
              <img src="images/estrutura.jpg" alt="" title="" />
              </div>
      
      </div>
      
      
    </div>
  </div>
</div>