<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
       <div class="navbar_home_link"><a href="index.php"><img src="images/icons/white/home.png" alt="" title="" /></a></div>
       <div class="navbar_page_center">Trabalhe Conosco</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
       <h2 class="page_subtitle">Faça parte do Time Way Back!</h2>
       
       
      <p style="text-align: justify">Nosso sucesso não aconteceria sem o talento e a dedicação permanente de nossos profissionais. Valorizamos a diversidade e buscamos garantir a igualdade de oportunidades em nossos processos seletivos. O desempenho e o potencial são os parâmetros que asseguram o crescimento profissional na Way Back.
<br><br>
Uma empresa de sucesso, pode traçar ambiciosas metas futuras e demonstrar aos seus trabalhadores os benefícios de maximizar as competências individuais de cada um com entusiasmo. A Way Back conta com uma ampla grade de treinamentos voltados para o desenvolvimento e aprimoramento do profissional em suas respectivas áreas.</p>
      
      
      
      <br>
      
      
      <h2 class="page_subtitle">Benefícios</h2>
       
       
      <p style="text-align: justify">A Way Back é uma empresa sólida que coloca o respeito às pessoas em primeiro lugar. Pensando no desenvolvimento e bem estar dos nossos profissionais, oferecemos uma série de benefícios: </p>
      
      
      
      <blockquote>
              Plano de Carreira
              </blockquote>
              
              <blockquote>
              Vale Refeição
              </blockquote>
              
              <blockquote>
              Vale Transporte
              </blockquote>
              
              <blockquote>
              Plano de Saúde (opcional)
              </blockquote>
              
              <blockquote>
              Convênio Farmácia (desconto em folha)
              </blockquote>
              
              <blockquote>
              Cartão SESC
              </blockquote>
              
              <blockquote>
              Parcerias Diversas: faculdades, restaurantes, salões de beleza, óticas, cursos de idiomas, academias, entre outros (os descontos variam de acordo com o estabelecimento)
              </blockquote>
      
      
      
      
      <br>
      
      
      <h2 class="page_subtitle">Cadastre seu currículo</h2>
      
      <p style="text-align: justify">Cadastre seu currículo e faça parte de nosso banco de talentos. Quando surgirem vagas compatíveis com seu perfil e qualificações, entraremos em contato.</p>
     
      
     
            <h2 id="Note"></h2>
            <div class="contactform">
             <form class="contact-form clearfix" action="" name="form" method="post" enctype="multipart/form-data">
            <input name="enviar_trabalhe" type="hidden" value="1">
                           
            <label>Nome:</label>
            <input type="text" name="name" id="ContactName" value="" class="form_input required" />
            <label>Email:</label>
            <input type="text" name="email" id="ContactEmail" value="" class="form_input required email" />
            <label>Telefone:</label>
            <input type="text" name="tel" id="ContactEmail" value="" class="form_input required " />
            <label>Assunto:</label>
            <input type="text" name="assunto" id="ContactEmail" value="" class="form_input required " />
                         
            <label>Mensagem:</label>
            <textarea name="message" id="ContactComment" class="form_textarea textarea required" rows="" cols=""></textarea>
            
            
            <input type="submit" name="submit" class="form_submit" id="submit" value="Enviar Mensagem" onclick="JSalert()">
           
            <label id="loader" style="display:none;"><img src="images/loader.gif" alt="Loading..." id="LoadingGraphic" /></label>
            </form>
            </div>
            
      
      <br>
      <blockquote>
      Endereço: Av.Paes de Barros, 1162 - Mooca - São Paulo/SP <br />
      Email: comercial@wayback.com.br <br />
      Telefone: +55 11 2148 9100
      </blockquote> 
      
        
      
      <div class="clear"></div>
      </div>
      
      
    </div>
  </div>
</div>